:root{
    /*primary*/

    --light-color: ;red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

     /*gradients*/
    --Light-slate-blue: (background): hsl(252, 100%, 67%);
    --Light-royal-blue: (background): hsl(241, 81%, 54%);

    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);


/*neutral*/
--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
---Lightlavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    font-size: 18px;
}
p{
    font-size: 18px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid red;
    max-width: 1440px;
    min-width: 375px;
    height: 100vh;
}